@model IEnumerable<WebNHATHUOC1.Models.THUOC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Danh mục Thuốc</h2>

<p>
    @Html.ActionLink("Thêm thuốc", "FormAddThuoc", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mathuoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHACUNGCAP.tenncc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenthuoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hansd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donvitinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dongia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hethan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mathuoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHACUNGCAP.tenncc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenthuoc)
        </td>
        <td>
            @{
                string hansd = item.hansd.ToShortDateString();
            }
            @hansd
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donvitinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dongia)
        </td>
        <td>
            @{
                if (item.hethan == true)
                {
                    <p>Đã hết hạn</p>
                }
                else
                {
                    <p>Còn hạn sử dụng</p>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mota)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "detailsThuoc", new { item.mathuoc }, null) |
            @{
                WebNHATHUOC1.Models.NHANVIEN nv = Session["User"] as WebNHATHUOC1.Models.NHANVIEN;
                string check = nv.manv.Substring(0, 2);
                if (check == "QL")
                {
                    <div>
                        @Html.ActionLink("Sửa", "FormEditThuoc", new { item.mathuoc }, null) |
                        @Html.ActionLink("Xóa", "FormDelThuoc", new { item.mathuoc }, null)
                    </div>
                }
            }
        </td>
    </tr>
}

</table>
