@model WebNHATHUOC1.Models.NHANVIEN

@{
    ViewBag.Title = "FormEditNV";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Sửa Nhân Viên</h2>


@using (Html.BeginForm("editNV", "NhanVien", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>NHÂN VIÊN</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.manv)

        <div class="form-group">
            @Html.LabelFor(model => model.tennv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tennv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tennv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sodt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<input type="number" name="sodt" class="form-control" value="@Model.sodt"/>*@
                @Html.EditorFor(model => model.sodt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sodt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.socm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.socm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.socm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diachi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.macn, "macn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    SelectList dsCN = new SelectList(ViewBag.DSCN, "macn", "macn");
                }
                @Html.DropDownList("macn", dsCN, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.macn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mật khẩu cũ</label>
            @*@Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DisplayFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group" id="psw1">
            <label class="control-label col-md-2">Mật khẩu mới</label>
            <div class="col-md-10">
                @Html.Password("password1", "", new { @class = "form-control" } )
            </div>
        </div>

        <div class="form-group" id="psw2">
            <label class="control-label col-md-2">Xác nhận mật khẩu</label>
            <div class="col-md-10">
                @Html.Password("password2", "", new { @class = "form-control" } )
                @Html.ValidationMessage("password2", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>