@model WebNHATHUOC1.Models.NHANVIEN

@{
    ViewBag.Title = "FormDelNV";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Xóa Nhân viên</h2>

<h3>Xóa nhân viên này cùng với tất cả lịch sử hóa đơn?</h3>
<div>
    <h4>Thông tin</h4>
    <hr />
    <dl class="dl-horizontal">
        @{
            string check = Model.manv.Substring(0, 2);
            if (check == "NV")
            {
                <dt>
                    @Html.DisplayName("Chức vụ")
                </dt>

                <dd>
                    @Html.DisplayName("Nhân viên")
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CHINHANH.tenql)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CHINHANH.tenql)
                </dd>
            }
            else
            {
                <dt>
                    @Html.DisplayName("Chức vụ")
                </dt>

                <dd>
                    @Html.DisplayName("Quản lý")
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.tennv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tennv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sodt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sodt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.socm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.socm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
    <br />
    <h4>Lịch sử hóa đơn</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Số hóa đơn")
            </th>
            <th>
                @Html.DisplayName("Tên khách hàng")
            </th>
            <th>
                @Html.DisplayName("Ngày lập")
            </th>
            <th>
                @Html.DisplayName("Thành tiền")
            </th>
            <th></th>
        </tr>
        @if (ViewBag.DSHD as List<WebNHATHUOC1.Models.HOADON> != null)
        {
            foreach (var item in ViewBag.DSHD as List<WebNHATHUOC1.Models.HOADON>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.sohd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KHACHHANG.tenkh)
                    </td>
                    <td>
                        @{
                            string ngaylap = item.ngaylap.ToShortDateString();
                        }
                        @ngaylap
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.thanhtien)
                    </td>
                </tr>
            }
        }
    </table>

    <h4 class="text-danger">Tất cả hóa đơn và chi tiết hóa đơn sẽ bị xóa, xác nhận?</h4>
    <div class="form-actions no-color">
        @Html.ActionLink("Xác nhận", "delNV", new { Model.manv }, new { @class = "btn btn-danger" }) |
        @Html.ActionLink("Trở về", "Index")
    </div>
</div>
