@model IEnumerable<WebNHATHUOC1.Models.HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Danh sách hóa đơn</h2>

<p>
    @Html.ActionLink("Lập hóa đơn", "FormDonThuoc",null,new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KHACHHANG.tenkh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHANVIEN.tennv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaylap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thanhtien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KHACHHANG.tenkh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHANVIEN.tennv)
        </td>
        <td>
            @{ 
                string ngaylap = item.ngaylap.ToShortDateString();
            }
            @Html.DisplayName(ngaylap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thanhtien)
        </td>
        <td>
            @{ 
                WebNHATHUOC1.Models.NHANVIEN nv = Session["User"] as WebNHATHUOC1.Models.NHANVIEN;
                string check = nv.manv.Substring(0, 2);
                if (check == "QL")
                {
                    @Html.ActionLink("Sửa", "editHD", new { item.sohd }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Chi tiết", "detailHD", new { item.sohd }, new { @class="btn btn-primary"});
                }
                else
                {
                    @Html.ActionLink("Chi tiết", "detailHD", new { item.sohd }, new { @class = "btn btn-primary" });
                }
            }
            
        </td>
    </tr>
}

</table>
